.todo_list_box {
    min-height: 200px;
    font-size: 14px;
}

.todo_list_box li {
    margin-bottom: 12px;
}
.todo_list_box input{
    margin-right: 4px;
}

.todo_list_box input:checked + label {
    text-decoration: line-through;
}

li .icon {
    padding: 3px;
    background: #ddd;
    border-radius: 5px;
    margin-left: 8px;
    transition: all 0.3s;
    font-size: 11px;
}

li .icon:hover {
    background: #ffeb3b;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
}