.container{
    width: 500px;
    margin: 50px auto;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #292d3e;
    border-radius: 20px;
    overflow: hidden;
    background: var(--background);
    box-shadow: 10px 9px 10px rgb(50 50 50 / 30%);
}
.theme_select_box input{
    display: none;
}
.theme_select_box label {
    cursor: pointer;
    font-size: 20px;
}
.status_box{
    display: flex;
    justify-content: flex-end;
}
.status_box > button {
    font-size: 14px;
    padding: 0 15px;
    cursor: pointer;
    font-weight: 500;
}
.status_box > button.active {
    color: var(--text-color-highlight)
}